html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background-color: #646059;
    background: #666;
}

.nav {
    width: 100%;
    height: 65px;
    position: absolute;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 4.5rem;
}

.nav div.logo a:hover {
    color: #c79200;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #fd9800;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(img/p.jpg);
    background-position: 100%;
	background-size:cover;
}


.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {

    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


.affix {
    padding: 0;
    background-color: #111;
}


.myH2 {
	text-align:center;
	font-size: 4rem;
    width: 100%;
    height: 100%;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}


.body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: transparent;

}

.idvirus{
    background-image: url(img/picss.jpg);
    width: 100%;
    height: fit-content;
    background-position: 100%;
	background-size: cover;
}


.latest {
    width: 100%;
    height: 100vh;
    background-image: url(img/p.jpg);
    background-position: 100%;
	background-size:cover;
}


.container2{
    
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}
.container2 .box{
    position: relative;
    width: 250px;
    height: 275px;
    overflow: hidden;
    transition: 0.5s;
    margin: 1%;
}
.container2 .box:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0.5);
}
.container2 .box .imgbx
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

}
.container2 .box .imgbx img
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px rgb(192, 183, 183) solid;
}
.container2 .box .imgbx:before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg,#fff,#123524);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}

.container2 .box .content2{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}
.container2 .box .content2 h3{
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 45px;
    font-size: 20px;
    transform: translateY(200px);
}
.container2 .box:hover .content2 h3
{
    transform: translateY(0);
    transition-delay: 0.6s;
}
.container2 .box .content2 h5{
    color: #fff;
    transform: translateY(200px);
    transition: 0.5s;
    font-size: 30px;
    margin-right:  25%;
    
}

.container2 .box:hover .content2 h5
{
    transform: translateY(0);
    transition-delay: 0.7s;
}

.cont-lstng{
    background-image: url(img/sea.jpg);
    background-position: 100%;
    width: 100%;
    height: 100%;
	background-size:cover;
}


.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}


.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

}
.slider{
  max-width: 800px;
  display: flex;
  padding-left: 20%;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
.slider .card .img{
  height: 200px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.9);
}


